<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header-container">

            <h2>{{t 'search'}}</h2>
              {{search submit=false instant=settings.instant_search class='search search-full'}}
            </div>
   
</header>
